body{
    background-color: rgb(59, 59, 59);
}

.contentbar{
    overflow: hidden;
    background-color: #333;
}
.button{
    width: 200px; height: 50px;
    background-color: rgb(117, 117, 117);
    border-color: black;
    color: aliceblue;
}

.title{
    color: rgb(194, 227, 255);
    font-size: 40px;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
}

.text{
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    color: rgb(194, 227, 255);
    font-size: 20px;
}